body {
  margin: 0;
  padding: 0;
  background: url(../images/Light_Blue.jpg);
  background-size:cover;
  background-position: center;
  font-family: sans-serif;
}

.loginbox{
  width: 420px;
  height: 420px;
  background: rgba(11, 38, 43, 0.959);
  color: #fff;
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding:90px 30px;

}
  
.avatar {
  width: 250px;
  height: 80px;
  border-radius:0%;
  position: absolute;
  top: -36px;
  left: calc(20%);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input [type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.clickbtn {
  display:inline-block;
  padding:.25em 1.2em;
  border:0.1em solid #32f7f7;
  margin:0 1.5em 1.5em 0;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color:#145555;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}

.clickbtn:hover {
  color:#000000;
  background-color:#FFFFFF;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: slategrey;
}
 